body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container-black {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.message {
  font-size: 24px;
  color: #66ff66; /* Cor verde claro */
  text-align: center;
  line-height: 1.5;
  padding: 20px;
}
